{% extends 'base/baseAdmin.html.twig' %}

{% block title 'Se connecter' %}

{% block menu %}
{% endblock %}

{% block body %}
    <div class="container-row">
        <div class="box container-4 mAuto">
            <div class="box-body">
                {% if error %}
                    <div class="alert-error">
                        {{ error.messageKey | trans(error.messagedata, 'security') }}
                    </div>
                {% endif %}
                <div class="box-title-medium">Se connecter</div>
                <form action="{{ path('login') }}" method="post">
                    <div class="input-container">
                        <label for="username" class="input-textBox-label" >Utilisateur</label>
                        <input value="{{ last_username }}" name="_username" id="username" class="input-textBox" type="text">
                    </div>
                    <div class="input-container">
                        <label for="password" class="input-textBox-label" >Mot de passe</label>
                        <input value="{{ last_username }}" name="_password" id="password" class="input-textBox" type="password">
                    </div>
                    <div class="input-container">
                        <button type="submit" class="input-button">connexion</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
{% endblock %}
