<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <script src="{{ asset('build/preRender.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</head>
<body class="light">
<div class="header">
    <div class="header-left">
        <div class="header-title">
            NozAffiche
        </div>
    </div>
    <div class="header-right">
        <div class="header-portal">
            {% block portal %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="main">
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer">
    <p>Cette application à été développé par le Pôle WEB - Univers NOZ © 2020. Pour nous contacter: <a  href="index.html">Envoyer un email</a>.</p>
</div>
</body>
</html>