{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container-row">
        {% for category in categories %}
            {% include 'categories/_categoryOverview.html.twig' %}
        {% endfor %}
    </div>
    {{ knp_pagination_render(properties) }}
{% endblock %}