{% extends 'base/base.html.twig' %}

{% block portal %}
    <a  href="{{path('categories.show')}}">Retour</a>
{% endblock %}

{% block body %}
    <div class="title">{{ title }}</div>
    <div class="container-row">
        {% for product in products %}
            {% include 'products/_productOverwiew.html.twig' %}
        {% endfor %}
    </div>
    {{ knp_pagination_render(products) }}
{% endblock %}

